Repository DmitryPopov/wanderer-kills, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @core-team, @devops-team, @documentation-team

.github/CODEOWNERS:

# This file defines code ownership and review requirements for the WandererKills project.

# Default owners for everything in the repo
* @project-maintainer

# Core application code
/lib/ @core-team
/test/ @core-team

# Configuration files
/config/ @devops-team
/.github/ @devops-team

# Documentation
/docs/ @documentation-team
*.md @documentation-team

# Docker and deployment
/Dockerfile* @devops-team
/docker-compose* @devops-team

# Dependencies
/mix.exs @core-team
/mix.lock @core-team

# Tests
/test/ @core-team
/spec/ @core-team

# CI/CD
/.github/workflows/ @devops-team

fix dockerbuild
  Dockerfile
  mix.exs
Owners: @devops-team, @core-team

fix: removed limit again
  lib/wanderer_kills_web/channels/killmail_channel.ex
  mix.exs
Owners: @core-team

feat: add sse (#20)
  .github/workflows/openapi-check.yml
  .github/workflows/openapi-validate.yml
  README.md
  config/config.exs
  config/runtime.exs
  docs/API_AND_INTEGRATION_GUIDE.md
  docs/PERFORMANCE.md
  docs/README.md
  lib/wanderer_kills/application.ex
  lib/wanderer_kills/core/observability/monitoring.ex
  lib/wanderer_kills/core/observability/telemetry.ex
  lib/wanderer_kills/core/observability/telemetry_metrics.ex
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/ingest/killmails/unified_processor.ex
  lib/wanderer_kills/ingest/redisq.ex
  lib/wanderer_kills/sse/filter_parser.ex
  lib/wanderer_kills/subs/subscriptions/broadcaster.ex
  lib/wanderer_kills_web/api_spec.ex
  lib/wanderer_kills_web/controllers/kill_stream_controller.ex
  lib/wanderer_kills_web/controllers/kills_controller.ex
  lib/wanderer_kills_web/plugs/debug_only.ex
  lib/wanderer_kills_web/router.ex
  lib/wanderer_kills_web/schemas/attacker.ex
  lib/wanderer_kills_web/schemas/error.ex
  lib/wanderer_kills_web/schemas/killmail.ex
  lib/wanderer_kills_web/schemas/kills_response.ex
  lib/wanderer_kills_web/schemas/sse_stream.ex
  lib/wanderer_kills_web/schemas/victim.ex
  lib/wanderer_kills_web/schemas/zkb.ex
  mix.exs
  mix.lock
  test/wanderer_kills/observability/sse_metrics_test.exs
  test/wanderer_kills/sse/filter_parser_test.exs
  test/wanderer_kills_web/controllers/kill_stream_controller_test.exs
  test/wanderer_kills_web/plugs/debug_only_test.exs
Owners: @devops-team, @documentation-team, @core-team

feat: add basic dashboard (#21)
  config/config.exs
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/dashboard.ex
  lib/wanderer_kills/ingest/redisq.ex
  lib/wanderer_kills/subs/subscriptions/broadcaster.ex
  lib/wanderer_kills/utils.ex
  lib/wanderer_kills_web/controllers/error_json.ex
  lib/wanderer_kills_web/controllers/page_controller.ex
  lib/wanderer_kills_web/page_html.ex
  lib/wanderer_kills_web/router.ex
  lib/wanderer_kills_web/views/error_json.ex
  lib/wanderer_kills_web/views/error_view.ex
  mix.lock
  priv/static/css/dashboard.css
Owners: @devops-team, @core-team, @project-maintainer

fix: improve resource management (#22)
  config/config.exs
  lib/wanderer_kills/application.ex
  lib/wanderer_kills/core/observability/websocket_stats.ex
  lib/wanderer_kills/core/storage/cleanup_worker.ex
  lib/wanderer_kills/core/storage/killmail_store.ex
  lib/wanderer_kills/core/storage/memory_monitor.ex
  lib/wanderer_kills/debug/connection_analyzer.ex
  lib/wanderer_kills/debug/connection_cleanup.ex
  lib/wanderer_kills/sse/broadcaster.ex
  lib/wanderer_kills/subs/subscriptions/broadcaster.ex
  lib/wanderer_kills_web/channels/heartbeat_monitor.ex
  lib/wanderer_kills_web/channels/killmail_channel.ex
  lib/wanderer_kills_web/controllers/kill_stream_controller.ex
  lib/wanderer_kills_web/endpoint.ex
  lib/wanderer_kills_web/router.ex
Owners: @devops-team, @core-team

dashboard cleanup (#23)
  README.md
  config/dev.exs
  config/prod.exs
  config/test.exs
  lib/wanderer_kills/core/observability/telemetry.ex
  lib/wanderer_kills/core/observability/telemetry_metrics.ex
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/core/storage/killmail_store.ex
  lib/wanderer_kills/core/storage/memory_monitor.ex
  lib/wanderer_kills/dashboard.ex
  lib/wanderer_kills/sse/broadcaster.ex
  lib/wanderer_kills_web/controllers/kill_stream_controller.ex
  lib/wanderer_kills_web/page_html.ex
  test/wanderer_kills/observability/sse_metrics_test.exs
Owners: @documentation-team, @devops-team, @core-team

bmup
  .github/workflows/openapi-check.yml
  mix.exs
Owners: @devops-team, @core-team

system name fix (#24)
  .github/workflows/openapi-check.yml
  lib/wanderer_kills/ingest/killmails/pipeline/enricher.ex
  lib/wanderer_kills/ingest/killmails/transformations.ex
Owners: @devops-team, @core-team

version bump
  mix.exs
Owners: @core-team

redisq dashboard (#25)
  README.md
  config/prod.exs
  config/runtime.exs
  lib/wanderer_kills/dashboard.ex
  lib/wanderer_kills/domain/json_encoder.ex
  lib/wanderer_kills/domain/killmail.ex
  lib/wanderer_kills/ingest/killmails/enrichment/batch_enricher.ex
Owners: @documentation-team, @devops-team, @core-team

version bump
  mix.exs
Owners: @core-team

todo item cleanup (#26)
  TODO.md
  lib/wanderer_kills/core/observability/metrics.ex
  lib/wanderer_kills/core/observability/monitoring.ex
  lib/wanderer_kills/core/observability/statistics.ex
  lib/wanderer_kills/core/observability/status.ex
  lib/wanderer_kills/core/observability/telemetry.ex
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/ingest/historical_fetcher.ex
  lib/wanderer_kills/ingest/killmails/batch_processor.ex
  lib/wanderer_kills/ingest/killmails/enrichment/batch_enricher.ex
  lib/wanderer_kills/ingest/killmails/time_filters.ex
  lib/wanderer_kills/ingest/redisq.ex
  lib/wanderer_kills/subs/websocket/info.ex
  test/support/shared_contexts.ex
  test/wanderer_kills/subscriptions/base_index_test.exs
Owners: @documentation-team, @core-team

dashboard updates (#27)
  CLAUDE.md
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/dashboard.ex
  mix.exs
Owners: @documentation-team, @core-team

fix last processed (#28)
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/dashboard.ex
  lib/wanderer_kills/ingest/redisq.ex
  lib/wanderer_kills_web/page_html.ex
Owners: @core-team

version bump
  mix.exs
Owners: @core-team

feature: sse preload (#29)
  README.md
  character_sse_implementation_plan.md
  config/config.exs
  docs/API_AND_INTEGRATION_GUIDE.md
  lib/wanderer_kills/sse/event_formatter.ex
  lib/wanderer_kills/sse/filter_handler.ex
  lib/wanderer_kills/sse/filter_parser.ex
  lib/wanderer_kills/subs/preloader.ex
  lib/wanderer_kills/subs/subscriptions/broadcaster.ex
  lib/wanderer_kills_web/controllers/enhanced_kill_stream_controller.ex
  lib/wanderer_kills_web/router.ex
  mix.exs
  test/wanderer_kills/sse/event_formatter_test.exs
  test/wanderer_kills/sse/filter_handler_test.exs
  test/wanderer_kills/sse/filter_parser_test.exs
  test/wanderer_kills/subs/preloader_test.exs
Owners: @documentation-team, @devops-team, @core-team

ETS perf (#30)
  lib/wanderer_kills_web/controllers/enhanced_kill_stream_controller.ex
  mix.exs
Owners: @core-team

dashboard fun
  lib/wanderer_kills/dashboard.ex
  mix.exs
Owners: @core-team

feature: update cache size display on dashboard
  lib/wanderer_kills/core/observability/cache_health.ex
  lib/wanderer_kills/core/observability/telemetry_metrics.ex
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/sse/broadcaster.ex
  lib/wanderer_kills/subs/subscriptions/broadcaster.ex
  mix.exs
Owners: @core-team

fix: logging and timeout cleanup
  config/config.exs
  config/runtime.exs
  lib/wanderer_kills/core/observability/telemetry.ex
  lib/wanderer_kills/core/observability/telemetry_metrics.ex
  lib/wanderer_kills/core/observability/unified_status.ex
  lib/wanderer_kills/sse/broadcaster.ex
  lib/wanderer_kills/subs/subscriptions/broadcaster.ex
  lib/wanderer_kills_web/controllers/kill_stream_controller.ex
  lib/wanderer_kills_web/plugs/api_logger.ex
  lib/wanderer_kills_web/router.ex
  mix.exs
Owners: @devops-team, @core-team

deploy
  .github/workflows/ci.yml
Owners: @devops-team

path
  .github/workflows/ci.yml
Owners: @devops-team

update devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
Owners: @project-maintainer

devcontainer
  .devcontainer/Dockerfile
Owners: @project-maintainer

Add Historical Streaming feature for ingesting historical killmail data (#33)
  .env.example
  .github/workflows/ci.yml
  README.md
  config/config.exs
  config/runtime.exs
  docs/historical_streaming_plan.md
  lib/wanderer_kills/application.ex
  lib/wanderer_kills/dashboard.ex
  lib/wanderer_kills/ingest/historical/historical_streamer.ex
  lib/wanderer_kills/ingest/killmails/zkb_client.ex
  lib/wanderer_kills/ingest/smart_rate_limiter.ex
  lib/wanderer_kills/subs/subscriptions/webhook_notifier.ex
  lib/wanderer_kills_web/page_html.ex
  test/external/esi_cache_test.exs
  test/fetcher/zkb_service_test.exs
  test/historical_streaming_basic_test.exs
  test/support/http_helpers.ex
  test/test_helper.exs
  test/wanderer_kills/ingest/historical/historical_streamer_retry_test.exs
  test/wanderer_kills/ingest/historical/historical_streamer_test.exs
  test/wanderer_kills/subscriptions/webhook_notifier_test.exs
Owners: @project-maintainer, @devops-team, @documentation-team, @core-team

bump
  mix.exs
Owners: @core-team

doc cleanup
  character_sse_implementation_plan.md
  docs/historical_streaming_plan.md
Owners: @documentation-team

dashboard fix
  lib/wanderer_kills/dashboard.ex
  lib/wanderer_kills/ingest/killmails/zkb_client.ex
  mix.exs
Owners: @core-team

add elixir guide
  docs/ELIXIR_CLIENT_GUIDE.md
Owners: @documentation-team

error fix
  lib/wanderer_kills/ingest/esi/client.ex
  mix.exs
Owners: @core-team

cleanup
  lib/wanderer_kills/core/ship_types/info.ex
  lib/wanderer_kills/ingest/killmails/enrichment/batch_enricher.ex
  lib/wanderer_kills/ingest/killmails/transformations.ex
  lib/wanderer_kills/ingest/killmails/unified_processor.ex
  mix.exs
Owners: @core-team

error check
  lib/wanderer_kills/ingest/killmails/transformations.ex
Owners: @core-team

fix: improve retry
  lib/mix/tasks/openapi.gen.ex
  lib/wanderer_kills/core/cache.ex
  lib/wanderer_kills/core/observability/metrics.ex
  lib/wanderer_kills/ingest/esi/client.ex
  mix.exs
Owners: @core-team

more retry
  lib/wanderer_kills_web/controllers/kills_controller.ex
  mix.exs
Owners: @core-team

fix: updated detailed kills logic to return older kills
  config/config.exs
  lib/wanderer_kills/core/support/utils.ex
  lib/wanderer_kills/ingest/esi/client.ex
  lib/wanderer_kills_web/controllers/kills_controller.ex
  mix.exs
Owners: @devops-team, @core-team

fix: return full enriched killmail for api calls
  lib/wanderer_kills_web/controllers/kills_controller.ex
  mix.exs
Owners: @core-team

fix: update killmail broadcasting
  DEBUG_COMMANDS.md
  lib/wanderer_kills/ingest/redisq.ex
  lib/wanderer_kills_web/channels/killmail_channel.ex
  mix.exs
Owners: @documentation-team, @core-team

Add circuit breaker and monitoring for RedisQ with health check integration (#36)
  config/config.exs
  lib/wanderer_kills/application.ex
  lib/wanderer_kills/http/client.ex
  lib/wanderer_kills/http/connection_monitor.ex
  lib/wanderer_kills/ingest/circuit_breaker_monitor.ex
  lib/wanderer_kills/ingest/redisq.ex
  lib/wanderer_kills/subs/preloader.ex
  lib/wanderer_kills_web/controllers/health_controller.ex
  mix.exs
  test/http_mock_test.exs
  test/integration/health_error_format_test.exs
  test/wanderer_kills/observability/telemetry_metrics_test.exs
  test/wanderer_kills_web/controllers/health_controller_test.exs
Owners: @devops-team, @core-team

ci update
  .github/workflows/ci.yml
Owners: @devops-team

Update docker build
  Dockerfile
  mix.exs
Owners: @devops-team, @core-team
